<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Title</key>
			<string>Quit AzFone</string>
			<key>Key</key>
			<string>exit_azfone_button</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Title</key>
			<string>Download OpenVPN</string>
			<key>Key</key>
			<string>download_openvpn_azfone_button</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Title</key>
			<string>Setup Account Automatically</string>
			<key>Key</key>
			<string>qrcode_azfone_button</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Title</key>
			<string>Setup Account Manually</string>
			<key>Key</key>
			<string>key_azfone_button</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Speed Reconnect</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Reconnect VPN</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Key</key>
			<string>reconnectvpn_azfone_button</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Reconnect SIP</string>
			<key>Key</key>
			<string>release_azfone_button</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Title</key>
			<string>Reconnect XMPP</string>
			<key>Key</key>
			<string>reconnectxmpp_azfone_button</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SIP account</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Multiple SIP Accounts</string>
			<key>Key</key>
			<string>mutiple_sip_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>SIP</string>
			<key>Title</key>
			<string>SIP Account</string>
			<key>Key</key>
			<string>sip_menu</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>SIP2</string>
			<key>Title</key>
			<string>SIP Account 2</string>
			<key>Key</key>
			<string>sip2_menu</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>XMPP account</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>XMPP</string>
			<key>Title</key>
			<string>XMPP Account</string>
			<key>Key</key>
			<string>xmpp_menu</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable video</string>
			<key>Key</key>
			<string>enable_video_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>audio_menu</string>
			<key>File</key>
			<string>Audio</string>
			<key>Title</key>
			<string>Audio</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>video_menu</string>
			<key>File</key>
			<string>Video</string>
			<key>Title</key>
			<string>Video</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>call_menu</string>
			<key>File</key>
			<string>Call</string>
			<key>Title</key>
			<string>Call</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>network_menu</string>
			<key>File</key>
			<string>Network</string>
			<key>Title</key>
			<string>Network</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>tunnel_menu</string>
			<key>File</key>
			<string>Tunnel</string>
			<key>Title</key>
			<string>Tunnel</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Advanced</string>
			<key>Title</key>
			<string>Advanced</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>about_button</string>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>quit_button</string>
			<key>Title</key>
			<string>Quit</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>send_logs_button</string>
			<key>Title</key>
			<string>Send debug logs</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
